<div class="ui one column stackable center aligned page grid" style="margin-top: 50px;">
	<h1>The Magic Sample Machine</h1>
	<% if @track.nil? %>
		<div class="column twelve wide">
			Nothing found! Try again.
		</div>
	<% else %>
		<div class="column twelve wide">
			<audio controls id="player" autoplay="autoplay">
			  <source src=<%= "#{@track.preview_url}#t=#{@start_time},#{@stop_time}" %> type="audio/mp3">
				Your browser does not support the audio element.
			</audio>
		</div>
		<div class="column twelve wide">
			<%= @track.name %>
		</div>
		<div class="column twelve wide">
			<form action="/download/<%= @track.id %>" method="POST">
				<button class="ui primary button" id="download">Download</button>
			</form>
		</div>
	<% end %>

	<form action="/" method="GET">
		<div class="column twelve wide">
			<div class="ui input">
		  	Search
			  <input name="query" type="text" placeholder="Optional" value="<%= @query unless @query.length == 1 %>">
			</div>
		</div>

		<div class="column twelve wide">
			<div class="ui input">
				Genre
			  <input name="genre" type="text" placeholder="E.g. 'soul' or 'electro house'..." value="<%= @genre %>">
			</div>
		</div>

		<div class="column twelve wide">
			<div class="ui input">
				Pretentiousness
			  <input name="pretentiousness" type="text" value="<%= @pretentiousness %>">
			</div>
		</div>

		<div class="column twelve wide">
			<div class="ui input">
				Sample Length (sec)
			  <input name="length" type="text" placeholder="e.g. 0.5" value="<%= @length %>" id="sample_length">
			</div>
		</div>

		<button type="submit" class="ui primary button" id="new_track">
		  New Track
		</button>
	</form>
</div>